/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Prompt', sans-serif;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.container{
    padding-right:28px;
    padding-left:28px;
}

@media (max-width:767px){
    .container{
        padding-right:17px;
        padding-left:17px;
    }    
}

/*NAVBAR*/

.navbar{
    display:flex;
    height:138px;
    align-items:center;
    justify-content: space-between;
}

.navbar-collapse{
    display:flex;
    flex-basis:1061px;
    justify-content: space-between;
    align-items:center;
}

.menu ul li{
    display:inline;
    list-style-type: none;
    padding:0;
}

.menu{
    display:flex;
    justify-content: space-between;
}



.logo{
    flex-basis:7%;
}

.logo-img{
    width:60%;
    height:auto;
}

.menu{
    flex-basis:20%;
    
}

.contact-search{
    flex-basis:19%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.menu-link{
    font-size:18px;
    color:#000000;
    text-decoration:none;
    text-align:center;
    margin-right:10px;
}
.menu-link:hover{
    font-size:18px;
    color:#000000;
    text-decoration:none;
}

.search-box{
    display:flex;
    justify-content: center;
}

.navbar-search{
    background-color:#D21A4C;
    width:134px;
    height:56px;
    padding-left:22px;
    border-top-left-radius:12px;
    border-bottom-left-radius:12px;
    box-shadow:none;
    border:none;
}

.button-search{
    width:59px;
    height:56px;
    background-color:#D21A4C;
    border-top-right-radius:12px;
    border-bottom-right-radius:12px;
    text-align:center;
    color:#ffffff;
    line-height:56px;
}

.searchbar-mobile{
    display:flex;
    justify-content: center;
    margin-top:19px;
}

.navbar-search-mobile{
    background-color:#D21A4C;
    height:38px;
    width:257px;
    padding-left:22px;
    border-top-left-radius:12px;
    border-bottom-left-radius:12px;
    box-shadow:none;
    border:none;
}

.button-search-mobile{
    background-color:#D21A4C;
    width:86px;
    height:38px;
    line-height:38px;
    text-align:center;
    border-top-right-radius:12px;
    border-bottom-right-radius:12px;
    color:#ffffff;
}

::placeholder{
    color:#ffffff;
    font-size:18px;
}
::-moz-placeholder{
    color:#ffffff;
    font-size:18px;
}
:focus{
    outline:none;
}

@media (max-width:1650px){
    .navbar-collapse{
        flex-basis:910px;
    }
}

@media (max-width:1440px){
    .navbar-collapse{
        flex-basis:800px;
    }
}

@media (max-width:1350px){
    .navbar-collapse{
        flex-basis:760px;
    }
}

@media (max-width:1025px){
    .navbar-collapse{
        flex-basis:650px;
    }
}

@media (max-width:767px){
    .search-box{
        display:none;
    }

}

@media (min-width:768px){
    .searchbar-mobile{
        display:none;
    }
}

/*HEADER*/

.header{
    width:100%;
    height:590px;
    background: rgba(0, 0, 0, 0.2);
    background-image:url(https://s3-alpha-sig.figma.com/img/0bdf/043b/c34411da765abd33b7ab9f64fd586228?Expires=1601856000&Signature=IIPv8VmMdSWT-OmG5h4Hu~s1FBtE-mS-txxN4yJQoEIW4bxLL1v162RIpXWy4FYfy~Aj-ryUbx21hnT~boAW08-KiLSdxhQGMOOF328e9MsrYEiGxcedyF-WDCpBOZQ9tiYcKA9jTzUnvxVcCO1KmOWeIdYMpMoi5~WZqiCMUcJPuQqRxXh1GVVrirBSVUBZI~B1WH6NbppyVOIh78dsen-sJC51AYB7wH9oW~ncTzdgnaNjODMwWIABvNWDBhi-L4cLe4Mc2alNTMW4h7ugVlh9DSIHEFe4jLxUjsSTZzP3nf3jSIOO77OXFo-C~DI3faxQ6YZtxdnT0Iuz2KL-mA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    display:flex;
    align-items:center;
    padding-left:28px;

}

.header-box{
    display:flex;
    flex-direction:column;
}


.header-title{
    font-size:46px;
    line-height:50px;
    letter-spacing: 1.53333px;
    color:#ffffff;
    font-weight:700;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}

.header-button{
    margin-top:30px;
    width:170px;
    height:48px;
    background-color:#ffffff;
    color:#222223;
    font-size:16px;
    border-radius:12px;
    text-align:center;
    line-height:48px;
}

@media (max-width:1024px){
    .header{
        height:390px;
    }
}

@media (max-width:767px){
    .header{
        height:277px;
    }

    .header-title{
        font-size:30px;
        line-height:38px;
    }

    .header-button{
        margin-top:20px;
        width:134px;
        height:38px;
        line-height:38px;
    }

    .navbar-search{
        display:none;
    }
}


/*CATEGORY SECTION*/

.category-container{
    margin-top:50px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;
}

.category-box{
    display:flex;
    align-items:center;
    border-radius:12px;
    flex-basis:33%;
    height:300px;
    
}

.category-column{
    flex-basis:33%;
    flex-direction:column;
}

.category-background-1{
    background: rgba(0, 0, 0, 0.2);
    background-image:url(https://s3-alpha-sig.figma.com/img/bdd7/5523/0f7e208224a59fed039762e968020b69?Expires=1601856000&Signature=a9vJWRGPHJpBTEMWRpuPAgpfFi07vHhJKIK25OYsVjkEDaWzWBYm4WkHCZgxnkATi8DdhNUuGqjYjWjYzb8Q0GC-i35Rwxh7YTOp93kq4CW6-OGBtFEiVnvx0TUWew30wHzlOZlMC~Md0m-zSZ0QbSBRaLANatwK0Hr7myefamFS9DBORJPOkhogUQ18fzD6wStOFbBWB03RdImiz7XpcCUApqub3Lis~ktLNbfhL1XChMu6mMxYBlZP19aKjAjkQCc28xXQ00~LZ1csItBz9TMnvBz-YUfSq74TGUHUKqCS0-nmvCGtqgIQHZOcxaRuYd0aURSdWezHvEcd~xTDnA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
.category-background-2{
    background: rgba(0, 0, 0, 0.2);
    background-image:url(https://s3-alpha-sig.figma.com/img/5d99/0da8/748abd9408b608f51077cadc319e6ef0?Expires=1601856000&Signature=NofCcdPQ-quaGMLGjJOlvaZnroXXBv~Lv~5MrXaMBjJ1DcCex3N4J4ENMvMkooqb~ldH9krZwAu4VCOSSWMP1S7HwTDCIs25FuoiwWl5lxkk5S4XmneBYzcL6Iv5Um8qc4UVE0D6PGbYdUPXivB66Usrr3WEFB9SIhnvZI7ArD3lLTMrO~PZo6CCGo8y52MEo9BZAw9X1z2As02ikgGjit6hAfSWlcUz~stParBcMsm0iNrue9KwYOufLHt8eVif-5LnnQmk9tVeCEz1q0Yx6nxJVb3Sr3PJ0cok-fZhbOcSDO7qK8MQ5UGrohnOemGTiG7g7jzq93xKH8~kmXK5og__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
.category-background-3{
    background: rgba(0, 0, 0, 0.2);
    background-image:url(https://s3-alpha-sig.figma.com/img/336d/ea24/732b9a8d549a1f7187301c0fa04dbe30?Expires=1601856000&Signature=UJNUuOLl2NusQ1Kf1O6tZ~8Ik2y48N2tErgUku8QbiXgX0Dp-fzAHdZ1MhDGoFF~Wsbnv6EUEoeTGGtCyOba2lPl-DWz3xO3yUXiIUbD37zkGPziRuwcOGB33K2gdrIh-VFzDDFBnkF~NQrIuGREoMUbQ0OtsOYXwgn84bzWj6SFTNR2nZCEcid4ocGr3HqHfbW22J5eXc5wBuoZWtktmViu1ZErfzNxOymTCK~OzunhvP09yTzDwnpNczXVkEcoQAVZ2USNi4MvkMfKIT31OKWWBRwDMpLqSUWskK~No9Bk73lVZVEPK9xEUcRDOIe8vitEe1twpnZsEkpIsQOLlA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}

.category-title{
    font-size:46px;
    font-weight:400;
    color:#ffffff;
    margin:0 auto;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.391363);
}

.category-text{
    margin-top:16px;
}

.category-text-title{
    font-size:26px;
    font-weight:400;
}

.category-text-paragraph{
    font-size:16px;
    font-weight:400;
}

@media (max-width:1023px){
    .category-column{
        flex-basis:100%;
    }

}

@media (max-width:767px){
    .category-box{
        flex-basis:100%;
        height:179px;
        margin-top:20px;
    }

    .category-column{
        flex-basis:100%;
    }

    .category-container{
        margin-top:20px;
    }

    .category-title{
        font-size:40px;
    }

    .category-text-title{
        font-size:18px;
    }

    .category-text-paragraph{
        font-size:14px;
    }
}

/*EXPERIENCES SECTION*/

.experience-container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;
    margin-top:42px;
}

.experience-column{
    display:flex;
    flex-direction:column;
    flex-basis:16%;
    
}

.experience-card{
    height:300px;
    margin-bottom:27px;
    background-color:#222;
    border-radius:12px;
    position:relative;
}

.experience-tag{
    background-color:#D21A4C;
    border-radius:4px;
    height:31px;
    flex-basis:121px;
    position:absolute;
    top:261px;
    right:10px;
    color:#ffffff;
    padding: 4px 20px 3px 20px;
}

.tag-name{
    font-size:16px;
}

.experience-card-background-1{
    background-image:url(https://s3-alpha-sig.figma.com/img/8307/f05b/e0ea050db5fc09dae4a1edcec09ad84b?Expires=1601856000&Signature=fZMKDm4H1TaAUsGzjnQpHQ4Nz-Pn4mdmpQGcElO~M6s1YREm2BfN4ByxOnUjnxnYAjloohb7uc2IDTQis9Mxkc-39y-EQQiKZEyKmQQhRCjS2tVdyS7y~ULtfd90CJTKiVK3fs5PkuGhi-4riLI6rvI6MBjuxXEe1Yz7IdJRVAc9FaJ5fvfvYYKCU3LCsDI-oTBejSfeXHbDZciJrZz4T~105FtlsStrF4iP~Sg0ANypeyfPCSqFa1ckqLNYKVVF5awnmo5BEQExjKIujOll7sC62IuTC4-qmX9wr6C3yLXdQJbyD8La6Ivt0DsND4XVSIuxl4Ub1x7P7bpRZS9Qww__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}

.experience-card-background-2{
    background-image:url(https://s3-alpha-sig.figma.com/img/e9d0/9de6/79514cdb34da46050089a849acb6f395?Expires=1601856000&Signature=VEdyx~PhZrkanpXHuJ9jBYZ7hrZDEToMXUXI5DHbdFQy6G69zCHDWFXcB4Kx9C~Z3CxyY5OP-PGlcSZYi8YJymWUdMxJNCjonFXiGu-RQdZvxzYi7LeUdnBelhlOIjiOozq74CN~3KTqdKuvmEIipObBzjo248Fq0fx2QC~bGUuVJC227yBRtiajHjJMlrXgBeYdRE9a9MySwldcPeQDb0HPkemhHUvq0oi1H4vOmgg8QogosDwTr~KYOd1gDv-GQ1SxolhTjXj2-UbzgGpofyjC~FBj1hXgZLwnukscLqvMVzw4vAy30F-6m3i6WkEWYMeZ4rKUhA8BFfru~O2z5w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}

.experience-card-background-3{
    background-image:url(https://s3-alpha-sig.figma.com/img/a05f/0552/6f105059ac9f9d6877364c5078bb9140?Expires=1601856000&Signature=G-NWIzQWDY3IKuS67j43sUNDmebbmmusv6OL1K-SBP1HLIHZD5Y1KN1WJueDhsXn4he8Iz7kNxkXAL8Esxwx6gLiMEqUQUEpLOT5Nr5JJkw6WMAiX4PaSz8DdYEtRfo6RHyO95EOi03L8KPzzL3WhxjQ-2zQpvjUs5ajhIZ3ZlqyW46PsvNSyouiR8kZgfw7cn9D9OTp7h5x3GzmLnvfxQrS4CatRcX2Ma0Y4KQ2HzQsgXc1mhzhajs29VQJnwUR7KBmbRDsKa4-fskPIGhD8h62OVEwRME6xc1S0VsVtd3jVbQBxA1VHeSDsuHD7lgU6719-oqwEpxqn-cpaZ3fIA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}

.experience-card-background-4{
    background-image:url(https://s3-alpha-sig.figma.com/img/b83f/1ee2/6cf9242ed5f27fc192f4c5f6a0dbca02?Expires=1601856000&Signature=QDDI6FtsBpxszXT0m6ly~lJsejlwjyV9q06q2XWPwZzAu0DNmgC1VqPxd-ljfwjLHu~bfvyKPaZJuHWAs6NFk~0VfvT4UqPbGtK7eRSomiBq7EYf6KcWr9J8c3gd7Lklg4~ww8pcqr-9IoKeLAvlyKk4488yL2f08H82P1gOtCeTtw4pG6XBwlSAw1rw2KO7oXvlYopT8ciOIYCSt1Uk5ZcFc6zoYowsfcJx0Ntat70OjgxfdAC-BeudJ~UB2zptFtlBdCF9RH2R-da8UKYXt~eNI92PH1GUEE8x4~sZbdY1aUCHzR-3hrXtscitsK6Byn6G7Largp0T4LJw3pdw~Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}

.experience-card-background-5{
    background-image:url(https://s3-alpha-sig.figma.com/img/6e85/b347/8c598fcb64947898c6b30ec3ea8c7245?Expires=1601856000&Signature=aBB-4D8h5UuJ0bkYD-NJwhA0rQLmG9KLdQUbOS8FiWdrblTIjcGIekQpLcDtasAB0k2oe48Z49VBjT7De9PEcqoGaPpRgAvb89Xn0KjOknasLmH8WD1BbRLCAGHTLzEmFecbXpAoOHRzGlwDmPlusX5np10VMR43mKel38LrmEL5PnziQ0rfUx0eAHPeqBceTSeA3b3HmIQQ-TPm0Ml8VrF6L-3MVMraUakd1WaTPs3-pDPi8RTUiMRZ-RKnbnc0Iqn5mRjiIwUC2-HveBML-kNGV1ElXKnzQPB5J-nFGuo4kM1sJB-ee3tAIrs7SqGM2QZk8wxbW~CGdO6QTyeb9w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}

.experience-card-background-6{
    background-image:url(https://s3-alpha-sig.figma.com/img/db80/1ca8/f981c98a2c8e9c9fe27ce1b3f91ff116?Expires=1601856000&Signature=gV~woEAjgu4vYQAITrAXhxT-o5QmjSmsNSgpS8BbmgBaICkKeJIaz2sHQdHG4eDCqKW1Z9TBLlrqwMPedaDl8JG1z2nmSsqiy-PqJnLHQHkmmiXIYEHtMbKD9fLWrXKtSzD9xiTTTm6IqMuNFS-wqaDNmguOXZBUS8RTPdgo95Uy9CyATWnufqURalQardu2qB9dfTb4JbY-NESHPkHNEYeqP~4-mea2~3aqXmUvQ2GgDUGhg2kiwUPzdS0Xd6nJBskUwA9FpDwKTDuBSeiyFLv~h-A3H51Z-zi2Iy9sEqGA~Af2NSjnikwSrCnB8HOyqzp--MGxZ0W1xzjMm5UtiA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}

.experience-button-mobile{
    width:100%;
    text-align:center;
    color:#D21A4C;
    border:1px solid #D21A4C;
    border-radius:12px;
    height:38px;
    line-height:38px;
}

@media (min-width:768px){
    .experience-button-mobile{
        display:none;
    }
}

@media (max-width:1024px){
    .experience-column{
        flex-basis:32%;
    }
}

@media (max-width:767px){
    .experience-column{
        flex-basis:48%;
        margin-bottom:20px;
    }
    .experience-card{
        height:193px;
        margin-bottom:19px;
    }

    .tag-name{
        font-size:14px;
    }

    .experience-tag{
        padding:1px 14px 1px 14px;
        height:21px;
        width:113px;
        position:absolute;
        top:167px;
        right:6px;
        text-align:center;
    }
}

/*DIVIDER*/

.divider{
    width:100%;
    margin-top:39px;
    margin-bottom:39px;
    border-bottom: 0.3px solid #808080;
}

@media (max-width:767px){
    .divider{
        margin-top:30px;
        margin-bottom:20px;
    }
}

/*COVID BANNER*/

.covid-banner{
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    align-items:center;
    height:141px;
    padding-top:34px;
    padding-left:45px;
}

.covid-banner-title{
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.6px;
    color: #222223;
    font-weight:400;
}

.covid-description{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.533333px;
    color: #7A7A7A;
    font-weight:400;
    margin-top:9px;
}

.covid-link{
    color:#D21A4C;
    text-decoration:none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.533333px;
    margin-top:15px;
}

.covid-link:hover{
    text-decoration:underline;
}

@media (max-width:1024px){
    .covid-banner{
        height:211px;
    }
}

@media (max-width:767px){
    .covid-banner{
        height:168px;
        padding-top:24px;
        padding-left:11px;
    }

    .covid-banner-title{
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.466667px;
    }

    .covid-description{
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.4px;
        margin-top:4px;
    }

    .covid-link{
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.4px;
        margin-top:11px;
    }
}

/*FINAL SECTION*/

.final-section{
    display:flex;
    justify-content: center;
    align-items:center;
    height:217px;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    margin-top:40px;
    margin-bottom:40px;
    border-radius:12px;
}

.final-section-button{
    background-color:#ffffff;
    color:#D21A4C;
    width:216px;
    height:48px;
    line-height:48px;
    text-align:center;
    border-radius:12px;
    font-size:16px;
}

@media (max-width:767px){
    .final-section{
        height:180px;
        margin-top:25px;
        margin-bottom:30px;
    }

    .final-section-button{
        width:180px;
        height:38px;
        line-height:38px;
        font-size:14px;
    }

    
}

/*FOOTER*/

footer{
    background-color:#1A1A1A;
    padding-top:59px;
    height:403px;
    color:#ffffff;
}

.footer-grid{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    flex-wrap:wrap;
    margin-bottom:40px;
}

.footer-first-column{
    flex-basis:30%;
    display:flex;
    flex-direction:column;
}

.footer-second-column{
    flex-basis:17%;
    display:flex;
    flex-direction:column;
}

.footer-third-column{
    flex-basis:17%;
    display:flex;
    flex-direction:column;
}

.footer-title{
    font-size:20px;
    font-weight:700;
    color:#ffffff;
}

.footer-details{
    color:#ffffff;
    font-size:16px;
    font-weight:300;
    line-height:30px;
}

.footer-link{
    color:#ffffff;
    text-decoration:none;
}

.footer-link:hover{
    color:#ffffff;
    text-decoration:underline;
}

.footer-list{
    padding:0;
    list-style-type: none;
    line-height:30px;
}

.social-icon{
    font-size:36px;
    margin-right:12px;
    margin-top:31px;
}

.white-line{
    width:939px;
    border-bottom:0.3px solid #ffffff;
    margin:0 auto;
}

.footer-credits{
    color:#ffffff;
    font-size:18px;
    font-weight:300;
    text-align:center;
    margin-top:29px;
}

@media (max-width:1024px){
    footer{
        height:413px;
    }

    .footer-first-column{
        flex-basis:55%;
    }

    .footer-second-column,
    .footer-third-column{
        flex-basis:22%;
    }

    .social-icon{
        font-size:26px;
    }

    .white-line{
        width:439px;
    }
}

@media (max-width:767px){
    .footer-first-column,
    .footer-second-column,
    .footer-third-column{
        flex-basis:100%;
    }

    footer{
        height:592px;
        padding-top:35px;
    }

    .footer-title{
        font-size:16px;
    }

    .footer-details{
        font-size:14px;
    }

    .footer-second-column,
    .footer-third-column{
        margin-top:41px;
    }

    .social-icon{
        margin-top:19px;
        font-size:28px;
    }

    .white-line{
        width:344px;
    }

    .footer-credits{
        font-size:13px;
    }
}

/*THE COLLAPSIBLE NAVBAR*/

@media (min-width:769px){
    .toggle{
        display:none;
    }
}

@media (max-width:768px){
    .navbar-collapse,
    .menu,
    .contact-search{
        flex-direction:column;
        
    }

    .navbar-collapse{
        display:none;
    }

    .logo-img{
        width:90%;
    }

}



.toggle{
    font-size:37px;
    color:#D21A4C;
    align-self: flex-end;
    cursor: pointer;
    line-height:138px;
}