/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Prompt', sans-serif;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.container{
    padding-right:28px;
    padding-left:28px;
}

/*NAVBAR*/

.navbar{
    display:flex;
    height:138px;
    justify-content: space-between;
    align-items:center;
}

.menu ul li{
    display:inline;
    list-style-type: none;
    padding:0;
}

.menu{
    display:flex;
    justify-content: space-between;
}



.logo{
    flex-basis:7%;
}

.logo-img{
    width:60%;
    height:auto;
}

.menu{
    flex-basis:20%;
}

.contact-search{
    flex-basis:19%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.menu-link{
    font-size:18px;
    color:#000000;
    text-decoration:none;
}
.menu-link:hover{
    font-size:18px;
    color:#000000;
    text-decoration:none;
}

.navbar-search{
    background-color:#D21A4C;
    width:193px;
    height:56px;
    padding-left:22px;
    border-radius:12px;
    box-shadow:none;
    border:none;
}

::placeholder{
    color:#ffffff;
    font-size:18px;
}
::-moz-placeholder{
    color:#ffffff;
    font-size:18px;
}
:focus{
    outline:none;
}

/*HEADER*/

.header{
    width:100%;
    height:590px;
    background: rgba(0, 0, 0, 0.2);
    background-image:url(https://s3-alpha-sig.figma.com/img/0bdf/043b/c34411da765abd33b7ab9f64fd586228?Expires=1601856000&Signature=IIPv8VmMdSWT-OmG5h4Hu~s1FBtE-mS-txxN4yJQoEIW4bxLL1v162RIpXWy4FYfy~Aj-ryUbx21hnT~boAW08-KiLSdxhQGMOOF328e9MsrYEiGxcedyF-WDCpBOZQ9tiYcKA9jTzUnvxVcCO1KmOWeIdYMpMoi5~WZqiCMUcJPuQqRxXh1GVVrirBSVUBZI~B1WH6NbppyVOIh78dsen-sJC51AYB7wH9oW~ncTzdgnaNjODMwWIABvNWDBhi-L4cLe4Mc2alNTMW4h7ugVlh9DSIHEFe4jLxUjsSTZzP3nf3jSIOO77OXFo-C~DI3faxQ6YZtxdnT0Iuz2KL-mA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    display:flex;
    align-items:center;
    padding-left:28px;

}

.header-box{
    display:flex;
    flex-direction:column;
}


.header-title{
    font-size:46px;
    line-height:50px;
    letter-spacing: 1.53333px;
    color:#ffffff;
    font-weight:700;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}

.header-button{
    margin-top:30px;
    width:170px;
    height:48px;
    background-color:#ffffff;
    color:#222223;
    font-size:16px;
    border-radius:12px;
    text-align:center;
    line-height:48px;
}

@media (max-width:767px){
    .header{
        height:277px;
    }

    .header-title{
        font-size:30px;
        line-height:38px;
    }

    .header-button{
        margin-top:20px;
        width:134px;
        height:38px;
        line-height:38px;
    }

    .navbar-search{
        display:none;
    }
}